*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background:#ff006e;

}

#container{
    margin: auto ;
    margin-top: 20vh;
    padding: 4rem;
height: 60vh;
width: 50vw;
border-radius: .6rem;
 background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
text-align: center;
}
#input{
margin-top: 2rem;
width: 25rem;
height: 2.5rem;
padding: 1rem;
border: none;
}
#btn{
height: 2.5rem;
width: 10rem;
background-color: #db4946;
cursor: pointer;
border: none;
border-radius: .3rem;
}
h2{
font-weight:700;
font-size: 3rem;
margin-top: 8rem;
color: #e500ff;
}